#aboutCard {
  border: 1px solid grey;
  box-shadow: 5px 2px #888888;
}

#aboutTitle {
  
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
span{
  padding: 20px;
  margin: 20px auto;
    width: 100%;
    overflow-wrap: break-word;
    
}