#aboutCard {
  margin-top: 20px;
  background-color: white;
  box-shadow: #afa6a6e6;
  border: 1px solid #afa6a6e6;
  border-radius: 10px;
}

#aboutTitle {
  
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
span{
  padding: 20px;
  margin: 20px auto;
    width: 100%;
    overflow-wrap: break-word;
    
}