svg.fa-plus-square {
  font-size: 30px;
  margin-top: 2px;
  
}

.headerRow {
  display: flex;
  justify-content: space-between;
}
.whatever{
  margin-top: 20px;
  background-color: white;
  box-shadow: #afa6a6e6;
  border: 1px solid #afa6a6e6;
  border-radius: 10px;
}
.text{
  margin-left: 20px;
  margin-top: 8px;
}