.featured {
  border: 1px solid #afa6a6e6;
  border-radius: 10px;
  padding-bottom: 24px;
  margin: 16px 0px 0px;
  background-color: white;
  box-shadow: #afa6a6e6;
}
.featured-text {
  
  margin-left: 20px;
  margin-top: 8px;
}
.featured-description {
  display: flex;
  margin: 16px 0px 0px;
  justify-content: space-between;
  border: 2px dashed #afa6a6e6;
}
.featured-description-text {
  padding: 12px;
}

.featured-description-close {
  width: 32px;
  height: 32px;
}
p {
  text-align: left;
  margin: 0px;
}
