.acc-border{
    border-radius: 0%;
    border-left:none ;
    border-right:none ;
    border-bottom: none;
}

.bottomB{
    border-bottom: none;
}

.fontWeight{
    font-weight: 500;
}

.muted-size{
    font-size: medium!important;
    color: #6C757D;
    font-weight: 500;
}

.TakeQBtn:hover{
    background-color: #007bff;
    color: white;
}

.TakeQBtn{
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #007bff;
    color: #007bff;
    
}

.penIcon{
    color: #007bff ;
}