.no-border{
    border: none;
    padding: 12px 20px 1px 5px; 
}

.no-border-np{
    border: none;
}

.sizedT{
    font-size: 12px;
    font-weight: bold;
    color: black;
}

#sml-txt-size{
    font-size: 11px;
}

.circleIcon{
    padding-top: 5px;
    color: rgb(70, 161, 235);
    padding-bottom: 2px;
    padding-left: 2px;
}

.h-link{
   font-size: 12px;
    font-weight: bold;
    color: rgb(29, 108, 211); 
}

.CardHeader, .CardFooter {
    background-color: white;
}

#numbSize {
    font-size: 12px;
    font-weight: bold;
}